@charset "utf-8";

// sass
//     ├── base
//     │   ├── _all.sass
//     │   ├── animations.sass
//     │   ├── generic.sass
//     │   ├── helpers.sass
//     │   └── minireset.sass
//     ├── components
//     │   ├── _all.sass
//     │   ├── breadcrumb.sass
//     │   ├── card.sass
//     │   ├── dropdown.sass
//     │   ├── level.sass
//     │   ├── media.sass
//     │   ├── menu.sass
//     │   ├── message.sass
//     │   ├── modal.sass
//     │   ├── navbar.sass
//     │   ├── pagination.sass
//     │   ├── panel.sass
//     │   └── tabs.sass
//     ├── elements
//     │   ├── _all.sass
//     │   ├── box.sass
//     │   ├── button.sass
//     │   ├── container.sass
//     │   ├── content.sass
//     │   ├── form.sass
//     │   ├── icon.sass
//     │   ├── image.sass
//     │   ├── notification.sass
//     │   ├── other.sass
//     │   ├── progress.sass
//     │   ├── table.sass
//     │   ├── tag.sass
//     │   └── title.sass
//     ├── form
//     │   ├── _all.sass
//     │   ├── checkbox-radio.sass
//     │   ├── file.sass
//     │   ├── input-textarea.sass
//     │   ├── select.sass
//     │   ├── shared.sass
//     │   └── tools.sass
//     ├── grid
//     │   ├── _all.sass
//     │   ├── columns.sass
//     │   └── tiles.sass
//     ├── helpers
//     │   ├── _all.sass
//     │   ├── color.sass
//     │   ├── flexbox.sass
//     │   ├── float.sass
//     │   ├── other.sass
//     │   ├── overflow.sass
//     │   ├── position.sass
//     │   ├── spacing.sass
//     │   ├── typography.sass
//     │   └── visibility.sass
//     ├── layout
//     │   ├── _all.sass
//     │   ├── footer.sass
//     │   ├── hero.sass
//     │   └── section.sass
//     └── utilities
//         ├── _all.sass
//         ├── animations.sass
//         ├── controls.sass
//         ├── derived-variables.sass
//         ├── extends.sass
//         ├── functions.sass
//         ├── initial-variables.sass
//         └── mixins.sass

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";